header, nav, main, footer {
    width: 100%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: chartreuse;
    font-size: 1rem; /* Базовый размер шрифта */
}
.container {
display: flex;
flex-direction: column;
}
header {
    display: flex;
    flex-direction: row;
    background-color: green;
    color: azure;
    text-align: center;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    color: royalblue;
    float: right;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: chartreuse;
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: center;
    height: 50px;
}

#logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

nav a {
    color: rgb(120, 238, 177);
    font-family: fantasy;
    padding: 10px; /* Отступы вокруг ссылок */
    margin: 5px; /* Отступы между ссылками */
}

tbody tr:nth-child(even) {
    background-color: rgb(44, 228, 115);
}

tbody tr:nth-child(odd) {
    background-color: rgb(42, 55, 44);
}

@media screen and (max-width: 768px) {
    
    header, nav, footer {
        flex-direction: column; /* Вертикальное расположение элементов */
        align-items: center; /* Центрируем элементы по горизонтали */
    }

    nav {
        margin: 10px 0; /* Добавляем отступы между элементами навигации */
        justify-content: center; /* Центрируем навигацию */
    }

    #logo {
        width: 80px; /* Уменьшаем размер логотипа */
        height: 80px;
    }

    .table-section {
       -ms-flex-order: 1;
        flex-basis: 100%; /* Элементы занимают всю ширину */
        margin: 0; /* Убираем отступы */
    }
    .links-section{
        -ms-flex-order: 2;
        flex-basis: 100%; /* Элементы занимают всю ширину */
        margin: 0; /* Убираем отступы */

    }

    #photo1 {
        width: 250px;
        height: 250px;
    }
    #photo2 {
        width: 240px;
        height: 135px;
    }

    body {
        font-size: 0.9rem; /* Уменьшаем размер шрифта для мобильных */
    }
}
